
/*
================================================================================
|                                  PAGE ERROR                                  |
================================================================================
*/
.page-error {
    &__title {
        display: block;
        margin-bottom: 15px;
        font-family: $title-font-family;
        color: $main-color;
        font-size: $font-size-h1;
        line-height: normal;
        font-weight: 900;
    }

    &__message {
        font-size: $base-font-size;
        line-height: normal;
        color: $text-color;
        margin-bottom: 30px;
    }
}